flows.json
[
    {
        "id": "16e3d7cc3c516b05",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9867c76b41be5145",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d1a2a39c5d030f97",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92ee024f59791839",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c51eec1b6b7485a3",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0ab575b38407a24",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2bc3b07d827a52a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "07743ddb255cbf46",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "58db9136c196d95b",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "259884745afb5d13",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "1fc6d74a2bd30d62",
        "type": "ui_tab",
        "name": "Tab 4",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "1c6ea29371ae0e03",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "07743ddb255cbf46",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "b7777afd94758bb1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "58db9136c196d95b",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "61e263bb0f48a744",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "259884745afb5d13",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "db7fe16de6e11124",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "1fc6d74a2bd30d62",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "19e030d26e292145",
        "type": "ui_switch",
        "z": "16e3d7cc3c516b05",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "1c6ea29371ae0e03",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "406e06e001a80315"
            ]
        ]
    },
    {
        "id": "406e06e001a80315",
        "type": "ui_chart",
        "z": "16e3d7cc3c516b05",
        "name": "",
        "group": "1c6ea29371ae0e03",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4a559c46c411ca65",
        "type": "ui_chart",
        "z": "16e3d7cc3c516b05",
        "name": "",
        "group": "b7777afd94758bb1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d3cd8415dd895da9",
        "type": "ui_chart",
        "z": "16e3d7cc3c516b05",
        "name": "",
        "group": "61e263bb0f48a744",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "63a90682788f1a75",
        "type": "ui_chart",
        "z": "16e3d7cc3c516b05",
        "name": "",
        "group": "db7fe16de6e11124",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ad029e72a48207e2",
        "type": "ui_switch",
        "z": "16e3d7cc3c516b05",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "b7777afd94758bb1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "4a559c46c411ca65"
            ]
        ]
    },
    {
        "id": "1ecc56a461743d55",
        "type": "ui_switch",
        "z": "16e3d7cc3c516b05",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "61e263bb0f48a744",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "d3cd8415dd895da9"
            ]
        ]
    },
    {
        "id": "7d20f522bdd19453",
        "type": "ui_switch",
        "z": "16e3d7cc3c516b05",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "db7fe16de6e11124",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "63a90682788f1a75"
            ]
        ]
    },
    {
        "id": "b74dbfdf29cc371b",
        "type": "ui_gauge",
        "z": "9867c76b41be5145",
        "name": "",
        "group": "1c6ea29371ae0e03",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "1252fa0d7ed50d0a",
        "type": "ui_gauge",
        "z": "9867c76b41be5145",
        "name": "",
        "group": "b7777afd94758bb1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "8c3e75d13db431c7",
        "type": "ui_gauge",
        "z": "9867c76b41be5145",
        "name": "",
        "group": "61e263bb0f48a744",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "1f2ff6ef45ce6ec1",
        "type": "ui_gauge",
        "z": "9867c76b41be5145",
        "name": "",
        "group": "db7fe16de6e11124",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "8d0efe8af507e3ee",
        "type": "inject",
        "z": "9867c76b41be5145",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "b74dbfdf29cc371b"
            ]
        ]
    },
    {
        "id": "48518652cf93afd1",
        "type": "inject",
        "z": "9867c76b41be5145",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "1252fa0d7ed50d0a"
            ]
        ]
    },
    {
        "id": "7333e39ec1b492d9",
        "type": "inject",
        "z": "9867c76b41be5145",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "8c3e75d13db431c7"
            ]
        ]
    },
    {
        "id": "674fd9c9dbb363e4",
        "type": "inject",
        "z": "9867c76b41be5145",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "1f2ff6ef45ce6ec1"
            ]
        ]
    },
    {
        "id": "e5cf9752fbb45853",
        "type": "ui_button",
        "z": "d1a2a39c5d030f97",
        "name": "",
        "group": "1c6ea29371ae0e03",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bc5103a1ee6cee63",
        "type": "ui_button",
        "z": "d1a2a39c5d030f97",
        "name": "",
        "group": "b7777afd94758bb1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "cfa83fe960551f3a",
        "type": "ui_button",
        "z": "d1a2a39c5d030f97",
        "name": "",
        "group": "61e263bb0f48a744",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3092d3bc8f1605fc",
        "type": "ui_button",
        "z": "d1a2a39c5d030f97",
        "name": "",
        "group": "db7fe16de6e11124",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ea1d5c26db66bb15",
        "type": "ping",
        "z": "d1a2a39c5d030f97",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "x1",
        "host": "",
        "timer": "20",
        "inputs": 1,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "e5cf9752fbb45853"
            ]
        ]
    },
    {
        "id": "a3a4d43c8a810642",
        "type": "ping",
        "z": "d1a2a39c5d030f97",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "x2",
        "host": "",
        "timer": "20",
        "inputs": 1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "bc5103a1ee6cee63"
            ]
        ]
    },
    {
        "id": "fba17371e1a5807a",
        "type": "ping",
        "z": "d1a2a39c5d030f97",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "x3",
        "host": "",
        "timer": "20",
        "inputs": 1,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "cfa83fe960551f3a"
            ]
        ]
    },
    {
        "id": "3c7a4b63fa5be5bf",
        "type": "ping",
        "z": "d1a2a39c5d030f97",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "20",
        "inputs": 1,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "3092d3bc8f1605fc"
            ]
        ]
    },
    {
        "id": "e2263915f122e906",
        "type": "amazon-echo-hub",
        "z": "92ee024f59791839",
        "port": "80",
        "processinput": "2",
        "discovery": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "7d87e568657923cd"
            ]
        ]
    },
    {
        "id": "7d87e568657923cd",
        "type": "amazon-echo-device",
        "z": "92ee024f59791839",
        "name": "Luz casa",
        "topic": "",
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d103a8d7b98c8604",
        "type": "inject",
        "z": "92ee024f59791839",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "e2263915f122e906"
            ]
        ]
    },
    {
        "id": "cbd6029cc9486075",
        "type": "exec",
        "z": "c51eec1b6b7485a3",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "693873665b9b5f8c"
            ],
            [],
            []
        ]
    },
    {
        "id": "8f2573b6f35fa811",
        "type": "exec",
        "z": "c51eec1b6b7485a3",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "c1e279010c02bb5c"
            ],
            [],
            []
        ]
    },
    {
        "id": "517dbbd5556af01b",
        "type": "exec",
        "z": "c51eec1b6b7485a3",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "b4aa2d27309b4282"
            ],
            [],
            []
        ]
    },
    {
        "id": "693873665b9b5f8c",
        "type": "ui_chart",
        "z": "c51eec1b6b7485a3",
        "name": "",
        "group": "1c6ea29371ae0e03",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c1e279010c02bb5c",
        "type": "ui_chart",
        "z": "c51eec1b6b7485a3",
        "name": "",
        "group": "b7777afd94758bb1",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b4aa2d27309b4282",
        "type": "ui_chart",
        "z": "c51eec1b6b7485a3",
        "name": "",
        "group": "61e263bb0f48a744",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5ef722e5000c4d24",
        "type": "inject",
        "z": "a0ab575b38407a24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "db2951c578dff665"
            ]
        ]
    },
    {
        "id": "db2951c578dff665",
        "type": "debug",
        "z": "a0ab575b38407a24",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    }
]